vti_encoding:SR|utf8-nl
vti_author:SR|User
vti_cachedlinkinfo:VX|S|glohorsd.gif S|globul1d.gif S|globul2d.gif S|globul3d.gif S|globannd.gif S|glohbudd.gif S|glohbusd.gif S|glovbudd.gif S|glovbusd.gif S|glohombd.gif S|glonexbd.gif S|gloprebd.gif S|gloupbd.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|09 Dec 2025 22:16:18 -0800
vti_filesize:IX|1539
vti_modifiedby:SR|User
vti_cacheddtm:TX|09 Dec 2025 22:16:20 -0800
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|09 Dec 2025 22:16:18 -0800
vti_syncwith_user\:80/copy_of_specialthanks:TR|09 Dec 2025 22:16:18 -0800
