vti_encoding:SR|utf8-nl
vti_author:SR|User
vti_cachedlinkinfo:VX|S|globanna.gif S|glohorsa.gif S|globul1a.gif S|globul2a.gif S|globul3a.gif S|glohbuda.gif S|glohbuha.gif S|glohbusa.gif S|glovbuda.gif S|glovbusa.gif S|glovbuha.gif S|glohomda.gif S|glohomha.gif S|glohomsa.gif S|glonexda.gif S|glonexha.gif S|glonexsa.gif S|glopreda.gif S|glopreha.gif S|glopresa.gif S|gloupda.gif S|gloupha.gif S|gloupsa.gif
vti_cachedhastheme:BR|false
vti_cachedhasborder:BR|false
vti_timecreated:TR|09 Dec 2025 22:16:18 -0800
vti_filesize:IX|1979
vti_modifiedby:SR|User
vti_cacheddtm:TX|09 Dec 2025 22:16:20 -0800
vti_backlinkinfo:VX|
vti_cachedhasbots:BR|false
vti_extenderversion:SR|3.0.2.1330
vti_timelastmodified:TR|09 Dec 2025 22:16:18 -0800
vti_syncwith_user\:80/copy_of_specialthanks:TR|09 Dec 2025 22:16:18 -0800
